# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
dist
build

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
Thumbs.db

# Prisma
prisma/migrations/migration_lock.toml

# Scripts de prueba
test-*.ts
diagnose.ts
